:root {
  --white: #e2f2f6;
  --blue-1: #1585dc;
  --blue-2: #1666a7;
  --blue-3: #174772;
  --blue-4: #19293e;
  --size: 0.75rem;
}
p,
h1,
h2,
h3,
h4,
h5,
span,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a:hover {
  opacity: 0.7;
}
* {
  box-sizing: border-box;
  font-family: 'Rubik';
  color: var(--blue-4);
}
body {
  width: 100%;
  margin: 0;
  background-color: var(--white);
  font-size: var(--size);
}
.top-screen-margin {
  padding-top: 15vh;
  background-color: var(--white);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  background-color: var(--white);
}
.app > section:not(:last-child) {
  margin-bottom: 10em;
}
.btn.primary {
  border: none;
  background-color: var(--blue-1);
  color: var(--white);
  min-width: 127px;
  padding: 0.75em 1em;
  border-radius: 2em;
}
